.contentSelector {
  border-right: var(--border-style);
  text-align: center;
  height: 100%;
}

.contentSelector.ant-layout-sider-children{
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  margin: auto 0;
  min-height: var(--small-header-height);
  background: rgba(0,0,0,.03) !important;
  border-bottom: var(--border-style);
}

.headerTitle {
  align-self: center;
  font-weight: var(--text-weight-bold);
  font-size: var(--font-size-medium);
  width: 100%;
  padding: 0;
  margin: 0;
}

.content {
  margin: 10px;
  height: calc(100% - var(--header-height) - 10px);
  display: flex;
  flex-direction: column;
}


