.rootPane {
  height: 100vh;
}

.pane {
  position: relative !important;
  height: calc(100vh - var(--header-height));
}

.sider {
  background: white !important;
}

.modal {
  min-width: 90%;
}

.modalContentLayout {
  display: flex;
  background: white;
  height: calc(80vh - var(--header-height));
}

.alert {
  position: absolute;
  right: 10px;
  top: calc(10px + var(--header-height));
  z-index: 9999;
}

.tableExpandableStyle {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}
