.radioButtonGroup {
  display: flex;
}

.radioButtonGroup label {
  flex: 1;
}

.searchOptionsDropdown {
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.searchTextInput {
  margin-top: 10px;
  width: 100%;
}
